.cabecalho{
    max-width: 80%;
    margin: 0 auto;
    background-color: blue;
    text-align: center;
}

.tabela{
    margin: 30px auto;
    background-color: black;
    max-width: 90vw;
}

.card{
    width: 27vw;
    height: 150px;
    margin: 1vw 1.25vw;
    background-color: red;
    float: left;
}